div{
  float:left;
}
.one{
   width:100px;
  height:250px;
}
.menu{
  width:100px;
  height:100px;
background-color:red;
}
.menu1{
  width:100px;
  height:200px;
background:#F5F5F5;
}
.two{
    width:60%;
  height:300px;
  background:blue;
}
.three{
    width:100px;
  height:250px;
}
.item1{
  width:100px;
  height:200px;
background-color:red;
}
.item2{
  width:100px;
  height:100px;
background:#F5F5F5;
}