header,footer{
			border:2px solid black;
			margin-left:80px;
			margin-bottom: 90px;
			height: 50px;
			width: 300px;
		}
		main
		{
			float: center;
			border:2px solid black;
			height: 200px;
			width: 5%;
			margin:5px;
		}
		.item1{
			float:left;
			margin-top: 60px;
			border:2px solid black;
			height: 70px;
			width: 45%;
		}
		.item2{
			float: right;
			margin-top: 60px;
			border:2px solid black;
			height: 70px;
			width:50%;
		}